body {
    font-family: 'Lato', sans-serif;
}
#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    font-size: 1.7em;
}
#instructions {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
svg {
    display: block;
    margin: 0 auto;
}
#mapBackground {
    fill: none;
    pointer-events: all;
}
#state-borders {
    fill: none;
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
}
.title.national {
    fill: steelblue;
}
.line.national {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
    opacity: 0.7;
}
.point.national {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
    opacity: 0.7;
}
.title.county {
    fill: #33a02c;
}
.line.county {
    stroke: #33a02c;
    stroke-width: 2px;
    fill: none;
    opacity: 0.7;
}
.line.county.invisible {
    opacity: 0;
}
.point.county {
    fill: white;
    stroke: #33a02c;
    stroke-width: 2px;
    opacity: 0.7;
}
.point.county.invisible {
    opacity: 0;
}
